/* styles.css */

body {
    display:flex;
    flex-direction:column;

}

header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    padding: 0px 15ex;
    
}

header ul {
    display:flex;
    margin:0;
    list-style:none;
    gap: 10px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

.top {
    display:flex;
    color: #f9faf8;
    padding: 10ex 20ex;
    justify-content: space-between;
}

.left, .right {
    display:flex;
}

.left {
    flex-direction:column;
}

.large-text{
    display:flex;
    font-size:48px;
    font-weight:900;
}

.small-text {
    font-size:18px;
    color:#E5E7EB
}

button {
    color: #f9faf8;
    background-color: #2882f6;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    margin-top: 10px;
}

header, footer, .top {
    background-color: #1F2937;
}

.top img {
    height:250px;
    width:auto;
}

.info {
    display:flex;
    background-color: white;
    justify-content: center;

}

.random-info {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

footer {
    display:flex;
    justify-content:center;
    align-items:center;
    color: #E5E7EB;
}