/* styles.css */

body {
    display:flex;
    flex-direction:column;

}

header {
    display: flex;
    justify-content: space-between;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    padding: 0px 15ex;
    
}

a {
    color:white;
    text-decoration:none;
}

a:visited {
    color:grey;
}

header ul {
    display:flex;
    margin:0;
    list-style:none;
    gap: 10px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
}

.top {
    display:flex;
    color: #f9faf8;
    padding: 10ex 20ex;
    justify-content: space-between;
}

.left, .right {
    display:flex;
}

.left {
    flex-direction:column;
    justify-content: space-around;
}

.large-text{
    display:flex;
    font-size:48px;
    font-weight:900;
}

.small-text {
    font-size:18px;
    color:#E5E7EB
}

.top button {
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    padding: 8px 30px;
    margin-top: 10px;
}

header, footer, .top {
    background-color: #1F2937;
}

.top img {
    height:275px;
    width:auto;
}

.info {
    display:flex;
    background-color: white;
    justify-content: center;
    flex-direction:column;
}

.random-info {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding:20px;
}

.list {
    padding-bottom: 30px;
}

.info ul {
    display:flex;
    list-style:none;
    padding:0;
    justify-content: center;
    gap: 8ex;
}

.info li {
    display:flex;
    flex-direction:column;
}

.info img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border: 5px solid #3882F6;
    border-radius: 8px;
}

.subtext {
    width: 150px;
    text-align: center;
}

.quote {
    display:flex;
    flex-direction:column;
    background-color: #E5E7EB;
    padding: 10em 20em;
}

.the-quote {
    font-size: 36px;
    color:#1F2937;
    font-style: italic;
}

.source {
    display:flex;
    justify-content: flex-end;
    padding-right: 30px;
    font-size: 20px;
    font-weight: 700;
}

.action {
    display: flex;
    justify-content:center;
}

.container {
    display:flex;
    background-color: #3882f6;
    padding:5em;
    flex:1;
    justify-content:space-around;
    margin: 7em 9em;
    border-radius: 8px;
}

.left1 {
    color: #f9faf8;
    display:flex;
    flex-direction: column;
}

.call-to {
    font-size:25px;
    font-weight: 700;
}

.sign-up {
    font-size: 18px;
}

.action button{
color: #f9faf8;
background-color: #3882f6;
font-size: 16px;
font-weight: 700; 
border-color:white;
border-radius: 8px;
padding: 8px 30px;
margin-top: 10px;
}

footer {
    display:flex;
    justify-content:center;
    align-items:center;
    color: #E5E7EB;
    padding: 30px;
}